<h2><%= game.title %></h2>
<img width="250" height="200" src= "https://s3-us-west-2.amazonaws.com/gamelistapp/" + <%= game.imageName %>>
<div>Console: <%= game.console.name %></div>
<div>Release Date: <%= game.releaseDate.toDateString() %></div>
<div>Genre: <%= game.genre %></div>
<div>Notes: <%= game.notes %></div>
<br>
<div class="form-row">
    <a class="btn btn-primary" href="/games/<%= game.id %>/edit">Edit</a>
    </div>
<div class="form-row">
    <a class="btn btn-primary" href="/consoles/<%= game.console.id %>">View Console</a>
</div>
<%- include('../partials/deleteForm', { url: `/games/${game.id}` })%>